{% extends "master/master.html" %} {% block content %}

<section>
	<div class="container ">

		<div class="login-box col-md-6 col-md-offset-3">
			<h4 class="head  text-center">Login</h4>

			<div class="col-md-6  text-center">
				<a href="#" class="btn btn-primary btn-block">Google</a> <a href="#"
					class="btn btn-primary btn-block">Linkedin</a> <a href="#"
					class="btn btn-primary btn-block">Facebook</a>
			</div>

			<div class="col-md-6">
				<input class="form-control" type="email"> <input
					class="form-control" type="password">

				<div class="col-md-8 need-help" >
					<a href="#" class="">Need help in login ?</a>
				</div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>

		</div>



	</div>

</section>

{% endblock %}
